.about-us-box {
  height: 40.81rem;
  display: flex;
  justify-content: end;
  flex-direction: column;
}
.about-us {
  justify-content: space-around;
  height: 29.25rem;
  background-color: #f6f7f9;
}
.about-us-image {
  width: 24rem;
  height: 29.25rem;
}
.aboutheadertext {
  font-family: "Poppins";
  font-size: 2.81rem;
  font-weight: 600;
  line-height: 1.687rem;
  color: #0e2368;
}
.aboutsubtext {
  width: 27.937rem;
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.687rem;
  color: #444957;
}

.readmore {
  background-color: #e23744;
  width: 8.25rem;
  height: 2.625rem;
  border-radius: 1.312rem;
  border: 0rem;
  gap: 0.5rem;

  font-family: "Source Sans Pro";
  color: #ffffff;
  font-weight: 600;
  size: 1rem;
  line-height: 2.25rem;
  letter-spacing: 0.1rem;
}

@media (max-width: 375px) {
  .about-us-box {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
  .about-us {
    justify-content: space-around;
    height: 29.25rem;
    background-color: #f6f7f9;
  }
  .about-us-text {
    align-items: center;
    text-align: center;
    padding: 9rem;
  }
  .about-us-image {
    visibility: hidden;
    width: 0rem;
    height: 0rem;
  }
  .aboutheadertext {
    font-family: "Poppins";
    font-size: 2.81rem;
    font-weight: 600;
    line-height: 1.687rem;
    color: #0e2368;
  }
  .aboutsubtext {
    width: 27.937rem;
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.687rem;
    color: #444957;
  }

  .readmore {
    background-color: #e23744;
    width: 8.25rem;
    height: 2.625rem;
    border-radius: 1.312rem;
    border: 0rem;
    gap: 0.5rem;

    font-family: "Source Sans Pro";
    color: #ffffff;
    font-weight: 600;
    size: 1rem;
    line-height: 2.25rem;
    letter-spacing: 0.1rem;
  }
}
