.socials {
  width: 73rem;
  height: 25rem;
  background-color: #f8f8f8;
  padding-left: 6.25rem;
  padding-right: 3.25rem;
  gap: 4rem !important;
}
.contact-us-logo {
  width: 10.06rem;
  height: 7.81rem;
}
.contact {
  width: 9rem;
  height: 11.62rem;
  padding-left: 8rem;
}
.contact-header {
  /* font-family: "Source Sans Pro "; */
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.68rem;
  color: #0e2368;
}
.contact-sub {
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.43rem;
  color: #646874;
}
.more {
  height: 11.63rem;
  padding-left: 9rem;
}
.link-header {
  /* font-family: "Source Sans Pro "; */
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1.68rem;
  color: #0e2368;
}
.social-links {
  max-height: 11.63rem;
  display: flex;
  flex-direction: column;
  padding-left: 9rem;
}
.links {
  width: 1.31rem;
  height: 1.31rem;
  padding-left: 2rem;
}
.copyright {
  padding-top: 4.5rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.56rem;
  color: #828b9c;
}

@media (max-width: 1190px) and (min-width: 375px) {
  .socials {
    padding-left: 3.25rem;
    padding-right: 3.25rem;
    width: 70rem;
    gap: 0.5rem !important;
  }
  .contact-us-logo {
    padding: 0%;
  }
  .contact {
    padding-left: 7.12rem;
  }
  .more {
    padding-left: 8rem;
  }
  .social-links {
    padding-left: 9rem;
  }
}

@media (max-width: 375px) {
  .socials {
    width: 38rem;
    height: 40rem;
    flex-direction: column !important;
    padding: 4rem;
    align-items: flex-start !important;
    gap: 0.5rem !important;
  }
  .contact-us-logo {
    padding-left: 14.5rem;
  }
  .contact {
    width: 28rem;
    height: 11.62rem;
    padding-left: 0rem;
  }
  .more {
    padding-left: 0rem;
  }
  .link-header {
    visibility: hidden;
  }
  .social-links {
    flex-direction: column-reverse;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .copyright {
    width: 11rem;
  }
}
