.main-page {
  display: flex;
  width: 100%;
}

.logo-box {
  height: 50.25rem;
  width: 100%;
}

.logo {
  width: 6.68rem;
  height: 5.18rem;
  padding-left: 6.25rem;
  padding-top: 2.06rem;
}

.bestfoodbox {
  width: 21.562rem;
  height: 12.937;
  padding-left: 6.25rem;
  padding-top: 5.68rem;
}

.discovertext {
  font-family: "Sans Pro";
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 4.312rem;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #0e2368;
  margin: 0%;
}
.besttext {
  font-family: "Source Sans Pro";
  font-size: 3.875rem;
  font-weight: 700;
  line-height: 4.312rem;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #e23744;
  margin: 0%;
}
.subtext {
  width: 19.562rem;
  height: 3.437rem;
  /* top: 460px; */
  padding-left: 6.25rem;

  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.687rem;
  letter-spacing: 0em;
  /* text-align: left; */
  color: #444957;
}

.explorenowbutton {
  background-color: #e23744;
  width: 11.875em;
  height: 3.975rem;
  border-radius: 2.125rem;
  margin-left: 6.25rem;
  border: 0rem;
  gap: 0.5rem;

  font-family: "Open Sans";
  color: #ffffff;
  font-weight: 700;
  size: 1.12rem;
  line-height: 2.25rem;
  letter-spacing: 0.1rem;
}
.get-in-touch {
  width: 7.62rem;
  height: 2.62rem;
  position: absolute !important;
  background-color: transparent;
  border-color: #ffffff;
  border-radius: 1.31rem;
  color: #ffffff;
  right: 0rem;
  z-index: 1;
  margin-top: 2rem;
  margin-right: 2.65rem;
}
.red-border {
  position: absolute;
  width: 47rem;
  height: 52.43rem;
  right: 0rem;
}
.pizza-image {
  width: 45.93rem;
  height: 50.25rem;
}

/* mobile */
@media (max-width: 375px) {
  .main-page {
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 8.5rem;
  }

  .logo-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10.5rem;
  }

  .logo {
    visibility: hidden;
    width: 0rem;
    height: 0rem;
    padding-left: 0rem;
    padding-top: 0rem;
  }

  .bestfoodbox {
    width: 21.562rem;
    height: 12.937;
    padding-left: 6.25rem;
    padding-top: 5.68rem;
  }

  .discovertext {
    font-family: "Sans Pro";
    font-size: 3.875rem;
    font-weight: 700;
    line-height: 4.312rem;
    letter-spacing: 0em;
    /* text-align: left; */
    color: #0e2368;
    margin: 0%;
  }
  .besttext {
    font-family: "Source Sans Pro";
    font-size: 3.875rem;
    font-weight: 700;
    line-height: 4.312rem;
    letter-spacing: 0em;
    /* text-align: left; */
    color: #e23744;
    margin: 0%;
  }
  .subtext {
    width: 19.562rem;
    height: 3.437rem;
    /* top: 460px; */
    padding-left: 6.25rem;

    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.687rem;
    letter-spacing: 0em;
    /* text-align: left; */
    color: #444957;
  }

  .explorenowbutton {
    margin-left: 0rem;
  }
  .get-in-touch {
    visibility: hidden;
  }
  .red-border {
    left: 0%;
    top: 0%;
  }
  .pizza-image {
    /* max-width: 100rem; */
  }
  .get-buttton {
  }
}
