.latest-article {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
  padding-top: 9.875rem;
}
.header-text {
  margin-top: 0rem;
  /* font-family: "Source Sans Pro"; */
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 2.62rem;
  letter-spacing: 0.1rem;
  color: #0e2368;
}
.blog-stack {
  gap: 8.5rem !important;
}
.actions {
  justify-content: center;
  padding-top: 2rem;
}
.action-buttons {
  height: 1.75rem;
  border-radius: 0.31rem;
  margin: 1rem;
}

@media (max-width: 1190px) and (min-width: 375px) {
  .latest-article {
    width: 70.5rem;
    padding-right: 3.25rem;
    padding-left: 3.25rem;
  }
}

@media (max-width: 375px) {
  .latest-article {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: max-content;
    padding: 11rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .blog-stack {
    flex-direction: column !important;
  }
  .actions {
    padding-left: 0rem;
  }
}
